@media (max-width: 577px) {
  /*
!------------------------------------------Common Class----------------------------------
*/
  .container {
    max-width: 90%;
  }
  .heading {
    font-size: 35px;
  }
  .title {
    font-size: 35px;
  }
  .sub-title {
    font-size: 18px;
  }
  .btn {
    font-size: 3vw;
    padding: 13px 25px;
  }
  /*!----------------------------------navber---------------------*/
  .menu-toggle {
    display: block;
    font-size: 28px;
    color: white;
  }
  .nav-elements {
    display: none;
  }
  /*!--------------------------------------banner--------------------------*/
  .banner-container {
    flex-direction: column;
  }
  .banner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .banner-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .banner-title{
    line-height: 40px;
  }
  .banner-paragraph {
    width: 100%;
  }
  .box-1-num {
    font-size: 20px;
  }
  .box-1-text{
    font-size: 12px;
  }
  .box-2 i {
    font-size: 2rem;
  }
  .span-1 {
    font-size: 88px;
  }
  

  /*
!------------------------------------------Section-1----------------------------------
*/
  .section-1-text {
    width: 100%;
    align-self: center;
    margin-bottom: 30px;
  }
  .circle-container {
    flex-direction: column;
  }
  .circle-text {
    width: 70%;
    margin: 0 auto;
  }

  /*
!------------------------------------------Section-2----------------------------------
*/

  .section-2-container {
    flex-direction: column;

    padding: 20px;
    gap: 15px;
  }

  .section-2-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-2-right {
    width: 100%;
  }
  .section-2-btn {
    align-self: normal;
    margin-bottom: 10px;
  }
  .section-2-text {
    width: 95%;
  }

  /*
!------------------------------------------Section-3----------------------------------
*/
  .section-3-text {
    width: 90%;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px;
  }
  .card-2 {
    grid-column: span 1;
  }
  .card-4 {
    grid-column: span 1;
  }
  .card-5 {
    display: none;
  }
  .card-6 {
    display: none;
  }
  .label-4 {
    top: 10px;
    left: 20px;
  }
  /*
!------------------------------------------Section-4---------------------------------
*/
  .section-4-text {
    width: 100%;
  }
  /*
!------------------------------------------Section-5----------------------------------
*/
  .section-5-inner-container {
    flex-direction: column;
  }
  .section-5-left {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  .section-5-right {
    width: 100%;
    padding: 0 0px;
  }
  /*
!------------------------------------------Section-6----------------------------------
*/
  .section-6-text {
    width: 100%;
    margin-bottom: 20px;
  }
  .boys-container {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, 320px);
  }

  /*
!------------------------------------------Section-7---------------------------------
*/
.section-7-text{
  width: 98%;
  font-size: 15px;
}
.sec-7-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.card{
  display: flex;
  flex-direction: column;
  background-color: #222222;
  width: 80%;
  height: 520px;
  justify-content: space-around;
  padding: 20px;
  transition: all .3s ease-in-out;
}
.card-price{
  
  font-size: 4rem;
  

}

  /*
!------------------------------------------Footer---------------------------------
*/
  .footer-up {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .footer-text {
    width: 100%;
    line-height: 20px;
  }
  .footer-logo {
    font-size: 50px;
  }
  .footer-right-1 ul,
  .footer-right-2 ul {
    gap: 5px;
    font-size: 18px;
  }
  .footer-down {
    font-size: 14px;
  }
}
